.wrapper {
  position: relative;
  background: white;

  .main {
    padding:0 15px;
    height: auto;
    padding-top: 100px;
    margin: auto;
    min-height: 53vh;

    &--nomargin {
      margin: 0;
    }
  }
}


@media screen and (max-width: $breakpoints-sm){
  .wrapper{
    max-width: 480px;
    margin: auto;

    .main{
      padding:0;
      padding-top: 80px;
    }
  }
}

@media screen and (min-width: $breakpoints-md){
  .wrapper{
    .main{
      max-width: $max-width;
      margin: auto;
    }
  }
}