.featured-products{
    margin-bottom: 40px;
    
    .odd, .even{
        display: flex;
        
        .featured-images, 
        .featured-text{
            flex: 0 0 50%;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }

        .featured-images img{
            display: block;
        }
        .featured-text{
            text-align: center;
            padding:15px;

            p {
                font-size: 14px;
                color: black;
                line-height: 1.1rem;
            }
        }
    }

    .odd{
        flex-direction: row;
    }

    .even{
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: $breakpoints-sm){
    .featured-products{
        .odd, .even{
            flex-direction: column;
        }
    }
}